<div class="w-full max-w-[800px] mx-auto">
  <div class="pt-52"></div>
  <div>
    <h2>Comments:</h2>
    <div *ngFor="let comment of comments" class="flex justify-between last:border-b-0 border-b border-[#CCCCCC] pb-1 pt-1">
      <div class="flex">
        <div>img</div>
        <p>{{ comment.text }}</p>
      </div>
      <div>
        {{ comment.timestamp }}
      </div>
    </div>
  </div>
  
  <div>
    <form [formGroup]="commentForm" (submit)="onCommentSubmit()">
      <div class="relative">
        <div *ngIf="showUserList"  class="absolute bg-[#F9F8F9] bottom-6 py-2">
          <ul class="overflow-auto">
            <li *ngFor="let user of userList"
              class="cursor-pointer hover:bg-[#1263A3] px-4 py-1 hover:text-white overflow-auto"
              (click)="handleClick(user)">
              {{ user.name }}</li>
          </ul>
        </div>
        <input id="text" type="text" formControlName="text" class="w-full border-[1px]">
      </div>
      <div class="flex justify-end">
        <button type="submit">Add Comment</button>
      </div>
    </form>
  </div>
</div>
